<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphazer0.wmsgestaocomercial">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMSGestaoComercial" >
        <activity
            android:name=".ui.activities.PrincipalActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.menu.Configuracao"
            android:excludeFromRecents="true"/>

        <activity android:name=".ui.activities.fornecedores.FornecedoresActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.activities.fornecedores.FornecedoresPF.ListaDeFornecedorPFActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.activities.fornecedores.FornecedoresPF.InformacaoFornecedorPF"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.activities.fornecedores.FornecedoresPF.CadastroFornecedorPFActivity"
            android:excludeFromRecents="true"/>

        <activity android:name=".ui.activities.fornecedores.FornecedoresPJ.ListaDeFornecedorPJActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.activities.fornecedores.FornecedoresPJ.InformacaoFornecedorPJ"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.activities.fornecedores.FornecedoresPJ.CadastroFornecedorPJActivity"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.activities.clientes.ListaDeClientesActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.clientes.InformacoesCliente"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.clientes.CadastroClienteActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.activities.estoque.ListaDeProdutosActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.estoque.InformacoesProduto"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.estoque.CadastroProdutoActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.activities.vendas.VendasActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.leitor_codigo_barras.CaptureCodeActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.activities.relatorios.RelatoriosPrincipal"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.relatorios.VendasInfoActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.relatorios.RelatorioTodasVendas"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.relatorios.RelatoriosVendas"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.activities.contas.ContasPrincipalActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.contas.ContasAPagarActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.activities.contas.ContasAReceberActivity"
            android:excludeFromRecents="true" />

    </application>

</manifest>